* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* navigator start */
  .menu-principal{
    background-color: rgba(13, 110, 167, 0.9);
    width: 100%;
  }
  .menu-principal ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
    list-style-type: none;
  }
  .menu{
    display: flex;
    padding: 7px 10px;
  
  }
  .menu a{
    color: black;
    text-decoration:none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
  }
  
  .navbar-top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* background-color:#D0455F; */
    /* background-color:#d14c4c; */
    background-color: rgba(13, 110, 167, 0.9);

}



/* #navbar-logo-box {
 background: linear-gradient(to bottom, #B30828 0%, #B30828 50%, white 50%, white 100%);
} */

#navbar-logo-img{
 display: block;
 margin:auto;
 padding: 10px 10px;
 width:40%;
 max-width: 400px;
}

#studioghibli-banner{
   width: 100%;
}

/* FILTERS SECTION */
.filters-container {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   padding: 6px;
   margin:10px auto;
   justify-content: space-between;
   max-width: 1000px;

}

.filter-individual-container {
   padding: 5px ;
}

#filter-by-name-number {
 width:100%;
}

#filter-by-type {
width:30%;
}

#filter-order-by{
width:30%;
}

#sort-by{
width:30%;
}


#refresh{
   width:100%;
   height:45px;
   text-align: center;
   border-radius: 15px;
   background-color: rgba(13, 110, 167, 0.9);
   color: rgba(0,0,0,0.6);
   cursor: pointer;
}

#refresh:hover {
    background-color: #c3d7f5ef;
    color: rgba(13, 110, 167, 0.9);

}


.filter-item {
   background: #1f9acac7;
   padding: 10px 2px;
   border-radius: 15px;
   border-style: 2px solid ;
   border-color:rgba(0,0,0,0.6);
   width:100%;
   font-size:14px;
   text-align:center;
}


.filter-item:focus{
   outline: none;
}

.filter-item:focus::placeholder{
   visibility: hidden;

}

/* ---- ----- ----- Contenedor Titulo y Controles ----- ----- ----- */
.contenedor-titulo-controles {
	display: flex;
	justify-content: space-between;
	align-items: end;
}

.contenedor-titulo-controles h3 {
	color: #0e0f0f;
	font-size: 30px;
}

.contenedor-titulo-controles .indicadores button {
	background: rgb(56, 35, 173);
	height: 3px;
	width: 10px;
	cursor: pointer;
	border: none;
	margin-right: 2px;
}

.contenedor-titulo-controles .indicadores button:hover,
.contenedor-titulo-controles .indicadores button.activo {
	background: black;
}

/* ---- ----- ----- Contenedor Principal y Flechas ----- ----- ----- */
.peliculas-recomendadas {
	margin-bottom: 70px;
}

.peliculas-recomendadas .contenedor-principal {
	display: flex;
	align-items: center;
	position: relative;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda,
.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	position: absolute;
	border: none;
	background: rgba(0, 0, 0, 0.3);
	font-size: 40px;
	height: 50%;
	top: calc(50% - 25%);
	line-height: 40px;
	width: 50px;
	color: rgb(19, 55, 177);
	cursor: pointer;
	z-index: 500;
	transition: .2s ease all;
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda:hover,
.peliculas-recomendadas .contenedor-principal .flecha-derecha:hover {
	background: rgba(13, 110, 167, 0.9);
}

.peliculas-recomendadas .contenedor-principal .flecha-izquierda {
	left: 0;
}

.peliculas-recomendadas .contenedor-principal .flecha-derecha {
	right: 0;
}

/* ---- ----- ----- Carousel ----- ----- ----- */
.peliculas-recomendadas .contenedor-carousel {
	width: 100%;
	padding: 20px 0;
	overflow: hidden;
	scroll-behavior: smooth;
}

.peliculas-recomendadas .contenedor-carousel .carousel {
	display: flex;
	flex-wrap: nowrap;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula {
	min-width: 20%;
	transition: .3s ease all;
	box-shadow: 5px 5px 10px rgba(0,0,0, .3);
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula.hover {
	transform: scale(1.2);
	transform-origin: center;
}

.peliculas-recomendadas .contenedor-carousel .carousel .pelicula img {
	width: 100%;
	vertical-align: top;
}

/* ---- ----- ----- Media Queries ----- ----- ----- */
@media screen and (max-width: 800px) {
	header .logotipo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	header .contenedor {
		flex-direction: column;
		text-align: center;
	}

	.pelicula-principal {
		font-size: 14px;
	}

	.pelicula-principal .descripcion {
		max-width: 100%;
	}

	.peliculas-recomendadas .contenedor-carousel {
		overflow: visible;
	}

	.peliculas-recomendadas .contenedor-carousel .carousel {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 20px;
	}

	.peliculas-recomendadas .indicadores,
	.peliculas-recomendadas .flecha-izquierda,
	.peliculas-recomendadas .flecha-derecha {
		display: none;
	}
}

